<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>SA News</title>
  </head>
  <body>
    <main>
      <main>
        <header>
          <h1>SA News API</h1>
          <p>
            A RESTful news API built with TypeScript, Express, PostgreSQL and
            Prisma.
          </p>
        </header>

        <section>
          <h2>API Documentation</h2>
          <p>
            Explore the available endpoints, queries, and example responses.
          </p>
          <a href="/api">View API documentation</a>
        </section>

        <section>
          <h2>Available Resources</h2>
          <ul>
            <li><a href="/api/topics">Topics</a></li>
            <li><a href="/api/articles">Articles</a></li>
            <li><a href="/api/users">Users</a></li>
          </ul>
        </section>

        <section>
          <h2>Source Code</h2>
          <p>The source code for this project is available on GitHub.</p>
          <a href="https://github.com/scar1377/sa-news-be"> View repository </a>
        </section>
      </main>
    </main>
  </body>
</html>
